name: Testes E2E Completos

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar o código (Checkout)
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.18.2'
          cache: 'npm' 

      - name: Instalar dependências
        run: npm install

      - name: Rodar Cypress (UI)
        run: npx cypress run